.body {
    background-color: rgb(255, 255, 255);
}

.headline-header {
    text-align: right;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica;
    font-style: initial;
    margin: 0.2em;
    background-color: #FF0072;
    font-size: medium;
    padding-right: 0.3em;
    padding-left: 0.3em;
    border-radius: 0.3em;
    margin: 0.8em;
}

.surline-header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 1em;
    font-size: xx-large;
}

.blog-preview1 {
    font-size: medium;
    background-color: rgb(240, 243, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.8em;
    padding: 0.3em;
    border-radius: 0.5em;

}

.blog-preview1-header {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.advice-span {
    font-style: italic;
}

.linkv1 {
    text-decoration: none;
    color: rgb(0, 17, 255);
    border-style: solid;
    border-width: 0.1em;
    border-radius: 0.3em;
    padding: 0.15em;
    margin-bottom: -0.5em;
}

.linkv2 {
    text-decoration: none;
    color: #FF0072;
    border-style: solid;
    border-width: 0.1em;
    border-radius: 0.3em;
    padding: 0.15em;
    margin-bottom: -0.5em;
}

.surline-header-link {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 1em;
    font-size: xx-large;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.only-text1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0.7em;
    margin-right: 1em;
    font-size: larger;

}

.big-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    margin-left: 0.7em;
}

.show-author {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -2em;
    margin: 0.2em;
    background: rgb(2, 0, 36);
    background: linear-gradient(131deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 255, 1) 0%, rgba(255, 0, 149, 1) 100%);
    font-size: medium;
    margin-inline-start: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.5em;
    max-width: fit-content;
    color: white;
    margin-top: -1em;

}

.disclaimer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin-left: 1em;
    margin-right: 1em;
    background-color: rgb(217, 217, 255);
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.2em;
    margin-top: -0.3em;
    border-radius: 1.2em;
}

.span01 {
    font-style: italic;
}

.span02 {
    font-weight: bold;
}

.span03 {
    font-weight: bold;
    color: rgb(0, 0, 0);

}

.image01 {
    width: 100%;
    height: auto;
}

.source01 {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: small;
}

.only-heading01 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0.7em;
    margin-right: 1em;
    font-size: x-large;
    font-weight: bold;
    padding-top: 1em;
}